.contact-logo {
    margin-left: 5px;
    margin-right: 5px;
}

#about {
    background: url("../img/background.png") no-repeat center fixed;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#me_image {
    width: auto;
    height: auto;
}

#me_image img {
    display: block;
    margin: 0 auto;
}

#role {
    font-size: 2em;
    letter-spacing: 4px;
}

#image_role {
    margin-top: 5%;
    margin-bottom: 5%;
}

.center-col {
    display:inline-block;
    float:none;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 5%;
}

/* No selectable and dragable item */
.no-selectable-drag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

#resume {
    margin-top: 15%;
    margin-right: 15%;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-56 {
    font-size: 56px;
}

.material-icons.md-64 {
    font-size: 64px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}