.burger {
    margin-left: 3vmax;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1000;
}

.burger input {
    display: block;
    cursor: pointer;
    z-index: 2;
    width: 3vmax;
    height: 3vmax;
    position: absolute;
    top: 1vmax;
    left: 3vmax;
    opacity: 0;
    -webkit-touch-callout: none;
}

.burger span {
    display: block;
    width: 3.5vmax;
    height: 0.3vmax;
    margin-bottom: 1vmax;
    margin-top: 1vmax;
    position: relative;
    background: #cdcdcd;
    border-radius: 1vmax;
    z-index: 1;
    transition: transform 0.75s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.75s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.8s ease;
}

.burger span:first-child {
    transform-origin: 0% 0%;
}

.burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.burger .expanded~span {
    opacity: 1;
    transform: translateY(-1.5vmax) rotate(45deg);
    background: #232323;
}

.burger .expanded~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.burger .expanded~a {
    transform: none;
}

.burger .expanded~span:nth-last-child(2) {
    transform: translateY(1vmax) translateX(0.5vmax) rotate(-45deg);
}