html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif
}

.contact-logo {
    margin-left: 5px;
    margin-right: 5px;
}

#about {
    background: url("../img/background.png") no-repeat center fixed;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#me_image {
    width: 200px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

#me_image img {
    display: block;
    margin: 0 auto;
}

#role {
    font-size: 2em;
    letter-spacing: 4px;
}

#image_role {
    margin-top: 5%;
    margin-bottom: 5%;
    text-shadow: 0px 2px 5px rgba(150, 150, 150, 1);
}

.center-col {
    display: inline-block;
    margin-bottom: 5%;
}

/* No selectable and dragable item */
.no-selectable-drag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

#resume {
    display: inline-block;
    margin: 15%;
}

/* Rules for sizing the icon. */
.md-18 {
    font-size: 18px;
}

.md-24 {
    font-size: 24px;
}

.md-36 {
    font-size: 36px;
}

.md-48 {
    font-size: 48px;
}

.md-56 {
    font-size: 56px;
}

.md-64 {
    font-size: 64px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.round-square {
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    line-height: 200%;
}

.lang-progress {
    width: 250px;
    height: auto;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
    box-sizing: border-box;
}

.hobbies {
    width: 150px;
    height: auto;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    box-sizing: border-box;
}